{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Auteur</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.category }}</td>

                {# <td>
                    <a href="{{ path('app_post_crud_edit', {'id': post.id}) }}">edit</a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'article.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_post_crud_new') }}">Create new</a> #}
{% endblock %}
